<div class="container colored">

  <h1 class="m-4">Confirm Profile</h1>
  <input type="hidden" id="profile-ID" value={{results.id}}>

  <div class="row row-cols-2">
    <div class="col">
      <h4>Name:</h4>
    </div>
    <div class="col">
      <h4>Email:</h4>
    </div>
    <div class="col" id="name-conf">
      {{results.fname}} <span> </span> {{results.lname}}
    </div>
    <div class="col" id="email-conf">
      {{results.email}}
    </div>
  </div>

  <div class="row pt-4">
    <div class="col">
      <h4>Skills:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      
    </div>
  </div>

  <div class="row pt-4">
    <div class="col">
      <h4>Coursework:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="row pt-4">
    <div class="col">
      <h4>Organization:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
    
    </div>
  </div>

  <div class="row row-cols-3 pt-4">
    <div class="col">
      <h4>Github:</h4>
    </div>
    <div class="col">
      <h4>LinkedIn:</h4>
    </div>
    <div class="col">
      <h4>Twitter:</h4>
    </div>
    <div class="col" id="github-conf">
      {{results.github}}
    </div>
    <div class="col" id="linkedin-conf">
      {{results.linkedin}}
    </div>
    <div class="col" id="twitter-conf">
      {{results.twitter}}
    </div>
  </div>

  <div class="row text-right">
    <div class="col">
      <button type="button" class="btn btn-primary" id="accept-btn">
        Accept
      </button>
      <button type="button" class="btn btn-primary" id="decline-btn">
        Decline
      </button>
    </div>
  </div>
</div>